@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialId</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="badge badge-primary px-2">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="badge badge-danger px-2">Güncelle</a></td>
            <td><a href="#" class="badge badge-dark px-2">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial" class="badge badge-success px-2">Yeni Referans Girişi</a>
